In [5]:
import pandas as pd

In [11]:
data = pd.read_csv('profiles.csv')
df_mc = data.drop(columns=(['essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7', 'essay8', 'essay9']))
df_sa = data[['essay0', 'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7', 'essay8', 'essay9']]

I have separated the data into 2 separate dfs. df_mc is the data that was obtained from the multiple choice questions.  df_sa is the data that was obtained from the short answer questions.
This was done to keep the similar data together.
For the next little bit of code, I will be focussing on the df_mc

In [13]:
df_mc.describe()

                age        height          income
count  59946.000000  59943.000000    59946.000000
mean      32.340290     68.295281    20033.222534
std        9.452779      3.994803    97346.192104
min       18.000000      1.000000       -1.000000
25%       26.000000     66.000000       -1.000000
50%       30.000000     68.000000       -1.000000
75%       37.000000     71.000000       -1.000000
max      110.000000     95.000000  1000000.000000